.gradle
gradle
out
.vertx
/build/
gradlew
gradlew.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mac Stuff ###
.DS_Store

### VSCode ###
.vscode/

### Project specific ###
runtime/
